body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Monospace';
  background-color: #eee;
}

#app {
  margin: 0 12vw;
  background-color: white;
}

.header {
  display: flex;
  justify-content: center;
  height: 6vh;
  padding: 1vh;
  border-bottom: 2px solid rgba(105, 97, 97, 0.3);
}

#goBack {
  display: none;
  color: blue;
  margin: 0 5px 0 0;
}

#goBack:hover {
  cursor: pointer;
  color: red;
}

#title {
  font-size: 4vh;
  font-weight: bold;
  padding: 6px;
}

#icon {
  height: 100%;
}

#mainTitle {
  flex: 4%;
  padding: 2vh;
  background-color: rgb(250, 250, 255);
  font-size: 3vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 92vh;
}

#text {
  margin: 0 5px;
  flex: 85%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#date {
  flex: 15%;
}

#todo {
  flex: 80%;
  width: 100%;
  height: 84vh;
  font-size: 1.5vw;
  overflow-x: scroll;
}

#no-todo {
  width: 100%; 
  height: 78vh; 
  text-align: center;
  padding-top: 26vh;
}

.todoList {
  list-style-type: none;
  padding: 0 1vw;
}

#newTodo {
  margin: 2vh 0;
  display: flex;
  flex: 10%;
  width: 100%;
  height: 20vh;
  justify-content: space-between;
}

#input {
  flex: 85%;
  height: 5vh;
  margin: 0 2vh;
  padding: 4px 8px;
  outline: none;
  border: none;
  font-size: 3vh;
  border-bottom: 1px solid gray;
}

#addButton {
  flex: 15%;
  height: 6vh; 
  margin: 0 2vh;
  font-size: 3vh;
  outline: none;
  border: none;
  background-color: greenyellow;
  cursor: pointer;
}

.todo {
  display: flex;
  overflow: hidden;
  background-color: rgb(179, 220, 233);
  height: 7vh;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin: 0.2vw 0;
}

.todoTitleText {
  flex: 76%;
  width: 0;
  margin: 0 5% 0 1%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.view {
  flex: 4%;
  cursor: pointer;
  margin: 0 2px;
}

.delete {
  flex: 6%;
  cursor: pointer;
  margin: 0 2px;
}

.view:hover, .delete:hover {
  color: blueviolet;
}

.item {
  display: flex;
  overflow: hidden;
  background-color: rgb(179, 220, 233);
  height: 7vh;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  margin: 0.2vw 0;
}

.status {
  width: 2vh;
  margin: 0 0.5vw 0 1vw;
  height: 100%; 
}

.itemTitleText {
  flex: 82%;
  width: 0;
  margin: 0 5% 0 1%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
